* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;  
  margin: 20px;
  font-size: 18px;
}

.nav,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
} 

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.code {
  background-color: #5f9ea0;
  padding-right: 70px;
  display:inline-block;
}