* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;  
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border: 3px solid red;
}

.main {
  border: 3px solid red;
}

.footer {
  border: 3px solid red;
}

p {
  color:aqua;
  border: 3px solid red;
}

h2 {
  border: 3px solid red;
}